body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size: 14px;
}

table {
  /* Although the instructions said to use [table-layout: fixed]  */
  /* it seems to not allow individal cols to be resized so using [auto] instead */

  table-layout: auto; 
  width: 100%;
  border: 2px solid #800080;
  border-collapse: collapse;
}

thead, tfoot {
  font-size: 14px;
  font-family: 'Rock Salt', cursive;
  color: #fff;
  border: 2px solid #800080;
}

/* Add image as background with colour gradient in table header and footer */
thead tr, tfoot tr {
  background: linear-gradient(rgba(0,0,0,0.1),  rgba(0,0,0,0.5)), url("./assets/leopardskin.jpg");
}

thead th {
  border: 2px solid #800080;
}

tfoot th {
  border-right: 2px solid #800080;
  text-align: right;
}

/* Add fuzzy/noise effect to table body rows */
tbody tr {
  background: url("./assets/noise.png");
}

th {
  width: fit-content;
}

th, td {
  text-align: center;
  padding: 15px;
}

/* Apply background colour to all odd rows */
tr:nth-child(odd) {
  background-color: #ff33cc;
}

/* Apply background colour to all even rows */
tr:nth-child(even) {
  background-color: #e495e4;
}

/* Set width of first col */
tr td:first-child {
  width: 350px;
}

/* Set width of last col */
tr td:last-child {
  width: 400px;
}

caption {
  font-family: 'Rock Salt', cursive;
  font-style: italic;
  color: grey;
  text-align: right;
  caption-side: bottom;
  padding-top: 15px;
  margin-right: 20px;
}

/* Font styling to match table body font and align left to match text in TCG task image */
#total-no-of-albums {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  text-align: left;
}
