/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  /* margin: 2em; */
  font-size: 16px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 2px solid #800080;
  border-collapse: collapse;
}

thead, tfoot {
  font-size: 14px;
  font-family: 'Rock Salt', cursive;
  color: #fff;
  border: 2px solid #800080;
}

thead tr, tfoot tr {
  background: linear-gradient(rgba(0,0,0,0.1),  rgba(0,0,0,0.5)), url("./assets/leopardskin.jpg");
}

thead th {
  border: 2px solid #800080;
}

tfoot th {
  border-right: 2px solid #800080;
}

tbody tr {
  background: url("./assets/noise.png");
}

/* th {
  width: fit-content;
} */

th, td {
  text-align: center;
  padding: 15px;
}

tr:nth-child(odd) {
  background-color: #ff33cc;
}

tr:nth-child(even) {
  background-color: #e495e4;
}

caption {
  font-family: 'Rock Salt', cursive;
  font-style: italic;
  color: grey;
  text-align: right;
  caption-side: bottom;
  padding-top: 15px;
  margin-right: 20px;
}

/* #col-band {
  width: 80px;
} */

/* #col-year-formed {
  width: 50px;
}

#col-number-of-albums {
  width: 50;
}

#col-most-famous-song {
  width: 35%;
} */

#total-albums {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}
